{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
    <h1>Register</h1>
    <form method="post" action="{{ url_for('auth.register') }}">
        {{ form.csrf_token }}

        <!-- Email -->
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        
        <!-- First Name -->
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name(size=32) }}<br>
            {% for error in form.first_name.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        
        <!-- Last Name -->
        <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name(size=32) }}<br>
            {% for error in form.last_name.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        
        <!-- Street Address -->
        <p>
            {{ form.street.label }}<br>
            {{ form.street(size=64) }}<br>
            {% for error in form.street.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        
        <!-- City -->
        <p>
            {{ form.city.label }}<br>
            {{ form.city(size=32) }}<br>
            {% for error in form.city.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        
        <!-- State -->
        <p>
            {{ form.state.label }}<br>
            {{ form.state(size=32) }}<br>
            {% for error in form.state.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        
        <!-- ZIP Code -->
        <p>
            {{ form.zip_code.label }}<br>
            {{ form.zip_code(size=10) }}<br>
            {% for error in form.zip_code.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        
        <!-- Country -->
        <p>
            {{ form.country.label }}<br>
            {{ form.country(size=32, readonly=True) }}<br>
            {% for error in form.country.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        
        <!-- Password -->
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        
        <!-- Confirm Password -->
        <p>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(size=32) }}<br>
            {% for error in form.confirm_password.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        
        <!-- Submit Button -->
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}