{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h1>About OurStuff</h1>
    <p>
        1-click ordering from Amazon: bad for workers, the planet, and our souls, but damn convenient. <em>OurStuff levels the playing field, making it just as easy to borrow the item from someone in your community.</em>
    </p>
    <h2>Our Mission</h2>
    <p>
        Humans thriving has always come from working together. Now, we're tackling problems small and big, together.
    </p>
    <h3>On a Practical Scale:</h3>
    <p>
        We often need something temporarily. A ladder, a camping tent, a booster seat for when our niece visits. It doesn't make sense to own these things if you're not sure you'll ever use them again.
    </p>
    <p>
        On the supply side, many of us have items that yearn to be used more. A canning pot, a sewing kit, a bike repair stand. These things sit idle 99% of the time and take up space.
    </p>
    
    <h3>And Writ Large:</h3>
    <p>
        Consumerism causes financial strain on individuals and fuels widespread environmental degradation. We can't go on like this.
    </p>
    <p>
        Many of us sit surrounded by objects while lacking relationships with our neighbors.
    </p>
    <h4>
        Together, we can build community trust, save money, and slow the engine of consumerism. Let's stop shopping and start sharing.
    </h4>
    
    <h2>FAQ</h2>
    
    <div class="faq-section">
        <div class="faq-item">
            <h4>What's the funding model?</h4>
            <p>
                OurStuff is for the people, by the people, and will never be commercialized. The code is open-source. Users aren't surveilled, data isn't sold. Hosting costs are currently paid by Sam out of pocket. If this thing takes off, we'll set up a crowdfunding model.
            </p>
        </div>
        <div class="faq-item">
            <h4>I'm worried that someone will steal my stuff.</h4>
            <p>
                We have set up trust structures to mitigate this, like using real names and the ability to share only with people you are connected to via circles or friends (if you insist).
            </p>
            <p>
                But honestly, this attitude is part of the problem we are trying to work through. Despite what TV tells us, humans are generally good and cooperative. The fear of the worst has driven us apart.
            </p>
        </div>
    </div>
    
    <h2 class="mt-5">Credits</h2>
    <p>
        <strong>OurStuff</strong> is a project of <a href="https://www.samfirke.com">Sam Firke</a>.
    </p>
    <p>
        <!-- Citation Credit -->
        <a href="https://www.flaticon.com/free-icons/user" title="user icons">Icons created by <strong>kmg design</strong> - Flaticon</a>
    </p>
</div>
{% endblock %}