<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - OurStuff</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <nav>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('main.profile') }}" class="profile-picture-link">
                <img src="{{ current_user.profile_image }}" alt="Profile" class="profile-picture-small" width="40" height="40">
            </a>
        {% endif %}
        <a href="{{ url_for('main.index') }}">Home</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('main.profile') }}">Profile</a>
            <a href="{{ url_for('main.list_item') }}">List Item</a>
            <a href="{{ url_for('main.search') }}">Search Items</a>
            <a {% if unread_messages_count > 0 %}style="font-weight: bold;"{% endif %} href="{{ url_for('main.inbox') }}">
                Inbox
                {% if unread_messages_count > 0 %}
                    ({{ unread_messages_count }})
                {% endif %}
            </a>
            <a {% if total_pending > 0 %}style="font-weight: bold;"{% endif %} href="{{ url_for('circles.manage_circles') }}">
                Circles
                {% if total_pending > 0 %}
                    ({{ total_pending }})
                {% endif %}
            </a>
            {% if has_pending_loans %}
                <a href="{{ url_for('main.manage_loans') }}">Manage Loans</a>
            {% endif %}
            <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('auth.login') }}">Login</a>
            <a href="{{ url_for('auth.register') }}">Register</a>
        {% endif %}
        <a href="{{ url_for('main.about') }}">About</a>
    </nav>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flashes">
                {% for category, message in messages %}
                    <div class="flash {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    
    {% block content %}
    {% endblock %}
</body>
</html>